* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_2433 {
  width: 100%;
  height: 1080px;
  background: rgba(11,11,11,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2434 {
  width: 557px;
  height: 946px;
  background: url("../images/v48_2434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1333px;
  overflow: hidden;
}
.v48_2435 {
  width: 543px;
  height: 92px;
  background: url("../images/v48_2435.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2436 {
  width: 218px;
  height: 92px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v48_2437 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2438 {
  width: 90px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 218px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v48_2439 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2440 {
  width: 110px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 308px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v48_2441 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2442 {
  width: 125px;
  height: 92px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 418px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v48_2443 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2444 {
  width: 557px;
  height: 896px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v48_2445 {
  width: 517px;
  height: 158px;
  background: rgba(0,0,0,1);
  padding: 30px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2446 {
  width: 288px;
  height: 98px;
  background: url("../images/v48_2446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 20px;
  overflow: hidden;
}
.v48_2447 {
  width: 288px;
  height: 44px;
  background: url("../images/v48_2447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2448 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2449 {
  width: 166px;
  height: 44px;
  background: url("../images/v48_2449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  overflow: hidden;
}
.v48_2450 {
  width: 68px;
  height: 44px;
  background: url("../images/v48_2450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v48_2451 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v48_2452 {
  width: 88px;
  height: 40px;
  background: url("../images/v48_2452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
  overflow: hidden;
}
.v48_2453 {
  width: 44px;
  height: 40px;
  background: url("../images/v48_2453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v48_2454 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2455 {
  width: 44px;
  height: 40px;
  background: url("../images/v48_2455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v48_2456 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2457 {
  width: 288px;
  height: 44px;
  background: url("../images/v48_2457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v48_2458 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2459 {
  width: 166px;
  height: 44px;
  background: url("../images/v48_2459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  overflow: hidden;
}
.v48_2460 {
  width: 68px;
  height: 44px;
  background: url("../images/v48_2460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v48_2461 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v48_2462 {
  width: 88px;
  height: 40px;
  background: url("../images/v48_2462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
  overflow: hidden;
}
.v48_2463 {
  width: 44px;
  height: 40px;
  background: url("../images/v48_2463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v48_2464 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2465 {
  width: 44px;
  height: 40px;
  background: url("../images/v48_2465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v48_2466 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2467 {
  width: 50px;
  height: 16px;
  background: rgba(0,0,0,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v48_2468 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 5px;
  font-family: Helvetica Neue;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2469 {
  width: 517px;
  height: 158px;
  background: rgba(0,0,0,1);
  padding: 30px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2470 {
  width: 61px;
  height: 16px;
  background: rgba(0,0,0,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v48_2471 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 5px;
  font-family: Helvetica Neue;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2472 {
  width: 477px;
  height: 44px;
  background: url("../images/v48_2472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 20px;
  overflow: hidden;
}
.v48_2473 {
  width: 477px;
  height: 44px;
  background: url("../images/v48_2473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 375px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2474 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2475 {
  width: 11px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 452px;
}
.v48_2476 {
  width: 288px;
  height: 44px;
  background: url("../images/v48_2476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 20px;
  overflow: hidden;
}
.v48_2477 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2478 {
  width: 166px;
  height: 44px;
  background: url("../images/v48_2478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  overflow: hidden;
}
.v48_2479 {
  width: 68px;
  height: 44px;
  background: url("../images/v48_2479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v48_2480 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 10px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v48_2481 {
  width: 88px;
  height: 40px;
  background: url("../images/v48_2481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
  overflow: hidden;
}
.v48_2482 {
  width: 44px;
  height: 40px;
  background: url("../images/v48_2482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.v48_2483 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2484 {
  width: 44px;
  height: 40px;
  background: url("../images/v48_2484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2485 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v48_2486 {
  width: 517px;
  height: 150px;
  background: rgba(0,0,0,1);
  padding: 30px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2487 {
  width: 198px;
  height: 40px;
  background: url("../images/v48_2487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 20px;
  overflow: hidden;
}
.v48_2488 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2489 {
  width: 23px;
  height: 23px;
  background: url("../images/v48_2489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2490 {
  width: 74px;
  height: 16px;
  background: rgba(0,0,0,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v48_2491 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 5px;
  font-family: Helvetica Neue;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2492 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 20px;
  overflow: hidden;
}
.v48_2493 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2494 {
  width: 449px;
  height: 16px;
  background: url("../images/v48_2494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 127px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 14px;
  overflow: hidden;
}
.v48_2495 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.10000000149011612;
  text-align: left;
}
.v48_2496 {
  width: 517px;
  height: 300px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2497 {
  width: 477px;
  height: 80px;
  background: url("../images/v48_2497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v48_2498 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2499 {
  width: 77px;
  height: 16px;
  background: url("../images/v48_2499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v48_2500 {
  width: 77px;
  height: 16px;
  background: url("../images/v48_2500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2501 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2502 {
  width: 347px;
  height: 12px;
  background: url("../images/v48_2502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 130px;
  overflow: hidden;
}
.v48_2503 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v48_2504 {
  width: 347px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v48_2505 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v48_2506 {
  width: 76px;
  height: 16px;
  background: url("../images/v48_2506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v48_2507 {
  width: 76px;
  height: 16px;
  background: url("../images/v48_2507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2508 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2509 {
  width: 347px;
  height: 12px;
  background: url("../images/v48_2509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 130px;
  overflow: hidden;
}
.v48_2510 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v48_2511 {
  width: 347px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v48_2512 {
  width: 477px;
  height: 80px;
  background: url("../images/v48_2512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 20px;
  overflow: hidden;
}
.v48_2513 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2514 {
  width: 88px;
  height: 16px;
  background: url("../images/v48_2514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v48_2515 {
  width: 88px;
  height: 16px;
  background: url("../images/v48_2515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2516 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2517 {
  width: 347px;
  height: 12px;
  background: url("../images/v48_2517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 130px;
  overflow: hidden;
}
.v48_2518 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v48_2519 {
  width: 347px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v48_2520 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v48_2521 {
  width: 87px;
  height: 16px;
  background: url("../images/v48_2521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v48_2522 {
  width: 87px;
  height: 16px;
  background: url("../images/v48_2522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2523 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2524 {
  width: 347px;
  height: 12px;
  background: url("../images/v48_2524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 130px;
  overflow: hidden;
}
.v48_2525 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v48_2526 {
  width: 347px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v48_2527 {
  width: 477px;
  height: 80px;
  background: url("../images/v48_2527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 20px;
  overflow: hidden;
}
.v48_2528 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2529 {
  width: 80px;
  height: 16px;
  background: url("../images/v48_2529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v48_2530 {
  width: 80px;
  height: 16px;
  background: url("../images/v48_2530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2531 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2532 {
  width: 347px;
  height: 12px;
  background: url("../images/v48_2532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 130px;
  overflow: hidden;
}
.v48_2533 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v48_2534 {
  width: 347px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v48_2535 {
  width: 477px;
  height: 40px;
  background: url("../images/v48_2535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v48_2536 {
  width: 68px;
  height: 16px;
  background: url("../images/v48_2536.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v48_2537 {
  width: 68px;
  height: 16px;
  background: url("../images/v48_2537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2538 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2539 {
  width: 347px;
  height: 12px;
  background: url("../images/v48_2539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 130px;
  overflow: hidden;
}
.v48_2540 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v48_2541 {
  width: 347px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v48_2542 {
  width: 55px;
  height: 16px;
  background: rgba(0,0,0,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v48_2543 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 5px;
  font-family: Helvetica Neue;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2544 {
  width: 245px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1006px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2545 {
  width: 87px;
  height: 16px;
  background: url("../images/v48_2545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 79px;
  overflow: hidden;
}
.v48_2546 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2547 {
  width: 22px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 65px;
  overflow: hidden;
}
.v48_2548 {
  width: 14px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
}
.v48_2549 {
  width: 22px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
.v48_2550 {
  width: 245px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1006px;
  left: 285px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2551 {
  width: 150px;
  height: 16px;
  background: url("../images/v48_2551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 47px;
  overflow: hidden;
}
.v48_2552 {
  width: 150px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2553 {
  width: 44px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1006px;
  left: 1269px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v51_3076 {
  width: 13px;
  height: 20px;
  background: url("../images/v51_3076.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 16px;
  overflow: hidden;
}
.v51_3077 {
  width: 20px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 0px;
  transform: rotate(-89deg);
}
.v48_2555 {
  width: 44px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1006px;
  left: 1215px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2556 {
  width: 13px;
  height: 20px;
  background: url("../images/v48_2556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 15px;
  overflow: hidden;
}
.v48_2557 {
  width: 4px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2558 {
  width: 4px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v54_3079 {
  width: 100%;
  height: 942px;
  background: url("../images/v54_3079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 20px;
  overflow: hidden;
}
.v48_2559 {
  width: 100%;
  height: 942px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v54_3080 {
  width: 828px;
  height: 798px;
  background: url("../images/v54_3080.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 233px;
  overflow: hidden;
}
.v48_2561 {
  width: 526px;
  height: 44px;
  background: url("../images/v48_2561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 1006px;
  left: 1348px;
  overflow: hidden;
}
.v48_2562 {
  width: 162px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2563 {
  width: 79px;
  height: 16px;
  background: url("../images/v48_2563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 41px;
  overflow: hidden;
}
.v48_2564 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2565 {
  width: 162px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 182px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2566 {
  width: 121px;
  height: 16px;
  background: url("../images/v48_2566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 20px;
  overflow: hidden;
}
.v48_2567 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2568 {
  width: 162px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 364px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_2569 {
  width: 91px;
  height: 16px;
  background: url("../images/v48_2569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 35px;
  overflow: hidden;
}
.v48_2570 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v48_2571 {
  width: 20px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 71px;
  overflow: hidden;
}
.v48_2572 {
  width: 13px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 16px;
}
.v48_2573 {
  width: 20px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
