* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_2901 {
  width: 100%;
  height: 1080px;
  background: rgba(62,62,62,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v73_1271 {
  width: 538px;
  height: 285px;
  background: url("../images/v73_1271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1348px;
  overflow: hidden;
}
.v73_1272 {
  width: 538px;
  height: 46px;
  background: url("../images/v73_1272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1273 {
  width: 46px;
  height: 46px;
  background: url("../images/v73_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1274 {
  width: 46px;
  height: 46px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v73_1275 {
  width: 13px;
  height: 19px;
  background: url("../images/v73_1275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 27px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v73_1280 {
  width: 46px;
  height: 46px;
  background: url("../images/v73_1280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 492px;
  overflow: hidden;
}
.v73_1281 {
  width: 46px;
  height: 46px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v73_1282 {
  width: 13px;
  height: 19px;
  background: url("../images/v73_1282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v73_1286 {
  width: 538px;
  height: 224px;
  background: url("../images/v73_1286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v73_1287 {
  width: 538px;
  height: 224px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v73_1288 {
  width: 51px;
  height: 16px;
  background: url("../images/v73_1288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v73_1289 {
  width: 51px;
  color: rgba(66,66,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1330 {
  width: 498px;
  height: 148px;
  background: url("../images/v73_1330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 20px;
  overflow: hidden;
}
.v73_1290 {
  width: 498px;
  height: 44px;
  background: url("../images/v73_1290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1291 {
  width: 498px;
  height: 44px;
  background: url("../images/v73_1291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1292 {
  width: 498px;
  height: 44px;
  background: url("../images/v73_1292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 375px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v73_1293 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1294 {
  width: 11px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 473px;
}
.v73_1295 {
  width: 498px;
  height: 40px;
  background: url("../images/v73_1295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v73_1296 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1297 {
  width: 163px;
  height: 40px;
  background: url("../images/v73_1297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 335px;
  overflow: hidden;
}
.v73_1298 {
  width: 65px;
  height: 27px;
  background: url("../images/v73_1298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v73_1299 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_1300 {
  width: 88px;
  height: 40px;
  background: url("../images/v73_1300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v73_1301 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v73_1302 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1303 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v73_1304 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1326 {
  width: 498px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v73_1327 {
  width: 190px;
  height: 16px;
  background: url("../images/v73_1327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 154px;
  overflow: hidden;
}
.v73_1328 {
  width: 190px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
