* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_2835 {
  width: 100%;
  height: 1080px;
  background: rgba(62,62,62,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v73_1193 {
  width: 538px;
  height: 285px;
  background: url("../images/v73_1193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1348px;
  overflow: hidden;
}
.v73_1194 {
  width: 538px;
  height: 46px;
  background: url("../images/v73_1194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1195 {
  width: 46px;
  height: 46px;
  background: url("../images/v73_1195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1196 {
  width: 46px;
  height: 46px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v73_1197 {
  width: 13px;
  height: 19px;
  background: url("../images/v73_1197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 27px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v73_1202 {
  width: 46px;
  height: 46px;
  background: url("../images/v73_1202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 492px;
  overflow: hidden;
}
.v73_1203 {
  width: 46px;
  height: 46px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v73_1204 {
  width: 13px;
  height: 19px;
  background: url("../images/v73_1204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v73_1208 {
  width: 538px;
  height: 224px;
  background: url("../images/v73_1208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v73_1209 {
  width: 538px;
  height: 224px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v73_1210 {
  width: 51px;
  height: 16px;
  background: url("../images/v73_1210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v73_1211 {
  width: 51px;
  color: rgba(66,66,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1331 {
  width: 498px;
  height: 148px;
  background: url("../images/v73_1331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 20px;
  overflow: hidden;
}
.v73_1212 {
  width: 498px;
  height: 44px;
  background: url("../images/v73_1212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1213 {
  width: 498px;
  height: 44px;
  background: url("../images/v73_1213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1214 {
  width: 498px;
  height: 44px;
  background: url("../images/v73_1214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 375px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v73_1215 {
  width: 47px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1216 {
  width: 11px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 473px;
}
.v73_1239 {
  width: 498px;
  height: 40px;
  background: url("../images/v73_1239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v73_1240 {
  width: 195px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1241 {
  width: 163px;
  height: 40px;
  background: url("../images/v73_1241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 335px;
  overflow: hidden;
}
.v73_1242 {
  width: 65px;
  height: 27px;
  background: url("../images/v73_1242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v73_1243 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_1244 {
  width: 88px;
  height: 40px;
  background: url("../images/v73_1244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v73_1245 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v73_1246 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1247 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v73_1248 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1264 {
  width: 498px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v73_1265 {
  width: 256px;
  height: 16px;
  background: url("../images/v73_1265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 121px;
  overflow: hidden;
}
.v73_1266 {
  width: 224px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1267 {
  width: 22px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 234px;
  overflow: hidden;
}
.v73_1268 {
  width: 14px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
}
.v73_1269 {
  width: 22px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
