* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v109_2914 {
  width: 538px;
  height: 586px;
  background: url("../images/v109_2914.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2915 {
  width: 538px;
  height: 46px;
  background: url("../images/v109_2915.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2916 {
  width: 153px;
  height: 46px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 0.30000001192092896;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2917 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2918 {
  width: 103px;
  height: 46px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 171px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2919 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2920 {
  width: 247px;
  height: 46px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 0px;
  left: 291px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2921 {
  width: 203px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2922 {
  width: 538px;
  height: 466px;
  background: url("../images/v109_2922.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v109_2923 {
  width: 538px;
  height: 282px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2924 {
  width: 129px;
  height: 16px;
  background: rgba(0,0,0,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v109_2925 {
  width: 129px;
  color: rgba(66,66,66,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2926 {
  width: 498px;
  height: 206px;
  background: url("../images/v109_2926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 20px;
  overflow: hidden;
}
.v109_2927 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2927.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2928 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2928.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2929 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2930 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2930.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2931 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2932 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2932.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2933 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2934 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2935 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2935.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v109_2936 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2937 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2938 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2938.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2939 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2939.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2940 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2940.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2941 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2942 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2943 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2943.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.v109_2944 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2945 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2946 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2946.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2947 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2948 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2948.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2949 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2950 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2951 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v109_2952 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2952.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2953 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2954 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2955 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2955.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2956 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2956.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2957 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2958 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2959 {
  width: 538px;
  height: 174px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2960 {
  width: 69px;
  height: 16px;
  background: url("../images/v109_2960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v109_2961 {
  width: 69px;
  color: rgba(66,66,66,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2962 {
  width: 498px;
  height: 98px;
  background: url("../images/v109_2962.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 20px;
  overflow: hidden;
}
.v109_2963 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2963.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2964 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2964.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 375px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2965 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2966 {
  width: 11px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 473px;
}
.v109_2967 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v109_2968 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2969 {
  width: 166px;
  height: 44px;
  background: url("../images/v109_2969.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 332px;
  overflow: hidden;
}
.v109_2970 {
  width: 68px;
  height: 44px;
  background: url("../images/v109_2970.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v109_2971 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 10px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v109_2972 {
  width: 88px;
  height: 40px;
  background: url("../images/v109_2972.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
  overflow: hidden;
}
.v109_2973 {
  width: 44px;
  height: 40px;
  background: url("../images/v109_2973.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.v109_2974 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2975 {
  width: 44px;
  height: 40px;
  background: url("../images/v109_2975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2976 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 17px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2977 {
  width: 538px;
  height: 44px;
  background: url("../images/v109_2977.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 0px;
  overflow: hidden;
}
.v109_2978 {
  width: 259px;
  height: 44px;
  background: rgba(0,0,0,1);
  padding: 14px 50px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2979 {
  width: 159px;
  height: 16px;
  background: url("../images/v109_2979.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 50px;
  overflow: hidden;
}
.v109_2980 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2981 {
  width: 259px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 279px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2982 {
  width: 179px;
  height: 16px;
  background: url("../images/v109_2982.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v109_2983 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
