* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v109_2902 {
  width: 538px;
  height: 586px;
  background: url("../images/v109_2902.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2901 {
  width: 538px;
  height: 46px;
  background: url("../images/v109_2901.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2802 {
  width: 153px;
  height: 46px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2803 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2804 {
  width: 103px;
  height: 46px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 0px;
  left: 171px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2805 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2903 {
  width: 247px;
  height: 46px;
  background: rgba(0,0,0,1);
  padding: 13px 22px;
  margin: 10px;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 0px;
  left: 291px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2904 {
  width: 203px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2563 {
  width: 538px;
  height: 466px;
  background: url("../images/v109_2563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v109_2564 {
  width: 538px;
  height: 282px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2565 {
  width: 129px;
  height: 16px;
  background: rgba(0,0,0,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v109_2566 {
  width: 129px;
  color: rgba(66,66,66,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2864 {
  width: 498px;
  height: 206px;
  background: url("../images/v109_2864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 20px;
  overflow: hidden;
}
.v109_2812 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2812.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2814 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2815 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2849 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2849.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2816 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2816.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2817 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2817.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2818 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2819 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2855 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2855.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v109_2856 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2857 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2858 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2858.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2859 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2859.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2860 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2861 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2862 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2865 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2865.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.v109_2866 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2867 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2868 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2868.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2869 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2869.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2870 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2870.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2871 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2872 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2883 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v109_2884 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2884.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2885 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2886 {
  width: 147px;
  height: 44px;
  background: url("../images/v109_2886.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 351px;
  overflow: hidden;
}
.v109_2887 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2887.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2888 {
  width: 93px;
  height: 44px;
  background: url("../images/v109_2888.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2889 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2890 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v109_2604 {
  width: 538px;
  height: 174px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v109_2605 {
  width: 69px;
  height: 16px;
  background: url("../images/v109_2605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v109_2606 {
  width: 69px;
  color: rgba(66,66,66,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2607 {
  width: 498px;
  height: 98px;
  background: url("../images/v109_2607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 20px;
  overflow: hidden;
}
.v109_2608 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v109_2609 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 375px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2610 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2611 {
  width: 11px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 473px;
}
.v109_2612 {
  width: 498px;
  height: 44px;
  background: url("../images/v109_2612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v109_2613 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2614 {
  width: 166px;
  height: 44px;
  background: url("../images/v109_2614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 332px;
  overflow: hidden;
}
.v109_2615 {
  width: 68px;
  height: 44px;
  background: url("../images/v109_2615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v109_2616 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 10px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v109_2617 {
  width: 88px;
  height: 40px;
  background: url("../images/v109_2617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
  overflow: hidden;
}
.v109_2618 {
  width: 44px;
  height: 40px;
  background: url("../images/v109_2618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.v109_2619 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2620 {
  width: 44px;
  height: 40px;
  background: url("../images/v109_2620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2621 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 17px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2906 {
  width: 538px;
  height: 44px;
  background: url("../images/v109_2906.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 0px;
  overflow: hidden;
}
.v109_2907 {
  width: 259px;
  height: 44px;
  background: rgba(0,0,0,1);
  padding: 14px 50px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2908 {
  width: 159px;
  height: 16px;
  background: url("../images/v109_2908.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 50px;
  overflow: hidden;
}
.v109_2909 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_2910 {
  width: 259px;
  height: 44px;
  background: rgba(255,255,255,1);
  padding: 14px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 279px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v109_2911 {
  width: 179px;
  height: 16px;
  background: url("../images/v109_2911.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v109_2912 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
