* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_2623 {
  width: 100%;
  height: 1080px;
  background: rgba(62,62,62,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v73_1332 {
  width: 538px;
  height: 425px;
  background: url("../images/v73_1332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1348px;
  overflow: hidden;
}
.v73_1333 {
  width: 538px;
  height: 46px;
  background: url("../images/v73_1333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1334 {
  width: 46px;
  height: 46px;
  background: url("../images/v73_1334.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1335 {
  width: 46px;
  height: 46px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v73_1336 {
  width: 13px;
  height: 19px;
  background: url("../images/v73_1336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 27px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v73_1341 {
  width: 46px;
  height: 46px;
  background: url("../images/v73_1341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 492px;
  overflow: hidden;
}
.v73_1342 {
  width: 46px;
  height: 46px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v73_1343 {
  width: 13px;
  height: 19px;
  background: url("../images/v73_1343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v73_1347 {
  width: 538px;
  height: 364px;
  background: url("../images/v73_1347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v73_1348 {
  width: 538px;
  height: 364px;
  background: rgba(0,0,0,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v73_1477 {
  width: 498px;
  height: 44px;
  background: url("../images/v73_1477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v73_1478 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1479 {
  width: 419px;
  height: 44px;
  background: url("../images/v73_1479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 79px;
  overflow: hidden;
}
.v73_1480 {
  width: 419px;
  height: 44px;
  background: url("../images/v73_1480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 375px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v73_1481 {
  width: 18px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1482 {
  width: 11px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 394px;
}
.v73_1351 {
  width: 498px;
  height: 90px;
  background: url("../images/v73_1351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 20px;
  overflow: hidden;
}
.v73_1352 {
  width: 498px;
  height: 90px;
  background: url("../images/v73_1352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1353 {
  width: 498px;
  height: 40px;
  background: url("../images/v73_1353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1354 {
  width: 144px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1355 {
  width: 125px;
  height: 40px;
  background: url("../images/v73_1355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 373px;
  overflow: hidden;
}
.v73_1357 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_1358 {
  width: 88px;
  height: 40px;
  background: url("../images/v73_1358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  overflow: hidden;
}
.v73_1359 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v73_1360 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1361 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v73_1362 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1363 {
  width: 498px;
  height: 40px;
  background: url("../images/v73_1363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}
.v73_1364 {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1870 {
  width: 125px;
  height: 40px;
  background: url("../images/v73_1870.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 373px;
  overflow: hidden;
}
.v73_1367 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_1368 {
  width: 88px;
  height: 40px;
  background: url("../images/v73_1368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  overflow: hidden;
}
.v73_1369 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v73_1370 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1371 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v73_1372 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1484 {
  width: 498px;
  height: 90px;
  background: url("../images/v73_1484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 20px;
  overflow: hidden;
}
.v73_1485 {
  width: 498px;
  height: 40px;
  background: url("../images/v73_1485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1486 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1487 {
  width: 139px;
  height: 40px;
  background: url("../images/v73_1487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 359px;
  overflow: hidden;
}
.v73_1488 {
  width: 41px;
  height: 27px;
  background: url("../images/v73_1488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v73_1489 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_1490 {
  width: 88px;
  height: 40px;
  background: url("../images/v73_1490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
  overflow: hidden;
}
.v73_1491 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v73_1492 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1493 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v73_1494 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1495 {
  width: 498px;
  height: 40px;
  background: url("../images/v73_1495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}
.v73_1496 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1497 {
  width: 125px;
  height: 40px;
  background: url("../images/v73_1497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 373px;
  overflow: hidden;
}
.v73_1498 {
  width: 27px;
  height: 27px;
  background: url("../images/v73_1498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v73_1499 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v73_1500 {
  width: 88px;
  height: 40px;
  background: url("../images/v73_1500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  overflow: hidden;
}
.v73_1501 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.v73_1502 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1503 {
  width: 44px;
  height: 40px;
  background: url("../images/v73_1503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v73_1504 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v73_1506 {
  width: 75px;
  height: 40px;
  background: url("../images/v73_1506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 20px;
  overflow: hidden;
}
.v73_1507 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1508 {
  width: 23px;
  height: 23px;
  background: url("../images/v73_1508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 52px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
